<% show_post ||= false %>

<div class="row">
  <div class="span0 well text-center">
    <%= link_to vote_post_comment_path(ct.post, ct, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
     <br/>
    <%= "#{ct.vote_total} votes" %>
    <br/>
    <%= link_to vote_post_comment_path(ct.post, ct, vote: false), method: 'post' do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>
  <div class="span6 well">
    <%= ct.body %> </br>
    <% if show_post %>
      on: <%= link_to ct.post.title, post_path(ct.post) %> </br>
    <% end %>
    Created by: <%= ct.user.username %>.
    Created at: <%= ct.created_at %>.
  </div>
</div>