<div class='well'>
  <%= form_for user do |f| %>
    <div class='control-group'>
      <%= f.label :username, "姓名："%>
      <%= f.text_field :username %><br />
    </div>
    <div class='control-group'>
      <%= f.label :password, "密碼：" %>
      <%= f.password_field :password %><br />
    </div>
    <%= f.submit(user.new_record? ? 'Register.' : 'Edit User profile.', class: 'btn btn-primary') %>
  <% end %>
</div>