<div class='well'>
  <%= form_for post do |f| %>
    <%= f.label :title, "主旨："%>
    <%= f.text_field :title %><br />

    <%= f.label :url, "網址：" %>
    <%= f.text_field :url %><br />

    <%= f.label :description, "說明：" %>
    <%= f.text_field :description %><br />

    <div class='control-group'>
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: 'checkbox inline') {cb.check_box(class: 'checkbox') + cb.text } %>
      <% end %>
    </div>

    <%= f.submit(post.new_record? ? 'Create Post.' : 'Edit Post.', class: 'btn btn-primary') %>
  <% end %>
</div>