<div class="row">
  <div class="span0 well text-center">
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <span id="post_<%= post.id %>_votes"><%= post.vote_total %> votes</span>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>
  <div class="span8 well">
    <p><%= render post.categories %></p>
    <span class="lead"> <%= link_to post.title, post_path(post) %> </span></br>
    <%= post.description %> </br>
    Learn more >> <%= link_to fix_url(post.url), fix_url(post.url) %> </br>
    Created by: <%= post.user.username %>.
    There are <%= post.comments.size %> comments! </br>
    Created at: <%= display_datetime(post.created_at) %>.
  </div>
</div>