<% if logged_in? %>
  <p class='pull-right'>
    [<%= link_to "Edit the post.", edit_post_path(@post) %>]
  </p>
<% end %>

<%= render "shared/content_title", title: @post.title %>

<% if logged_in? %>
  <%= render 'comments/form', post: @post, comment: @comment %>
  <hr>
<% end %>

<p>
  <%= render @post %>
</p>

<p>
  <h4>Comments:</h4>
  <hr>
  <% @comments.each do |ct| %>
    <%= render "comments/comment", ct: ct %>
  <% end %>
</p>
