<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
  <li>
    <div class='btn-group nav-item'>
      <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        Categories <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu'>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, category_path(category) %> </li>
        <% end %>
        <% if logged_in? %>
          <li class='divider'></li>
          <li>
            <%= link_to(new_category_path) do %>
              <i class='icon-plus'></i>
              New Category
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
  <% if logged_in? %>
    <li>
      <%=link_to "Hi! #{current_user.username}", root_path %>
    </li>
    <li>
      <%= link_to 'Logout', logout_path %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', login_path %>
    </li>
    <li>
      <%= link_to 'Register', login_path %>
    </li>
  <% end %>
</ul>
<% if logged_in? %>
  <div class='nav_item'>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
  </div>
<% end %>




